*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: whitesmoke;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
    /* transition: transform 0.2s; */
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
nav img {
    max-width: 100%;
    max-height: 100%;
}
nav a:hover {
    /* transform: scale(1.1); */
    background-color: whitesmoke;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar {
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a {
    width: 100%;
}
#menu-button {
    display: none;
}
@media(max-width:800px) {
    .hideOnMobile {
        display: none;
    }
    #menu-button {
        display: block;
    }
}
@media(max-width:400px) {
    .sidebar {
        width: 100%;
    }
}
.firstSection {
    margin-top: 70px;
}
.firstSection h1,.firstSection h2 {
    text-align: center;
    margin-top: 20px;
}
.firstSection h1 {
    font-size: 50px;
}
.firstSection h2 {
    font-size: 40px;
}
@media(max-width: 500px) {
    .firstSection {
        margin-top: 42%;
    }
    .firstSection h1,h2 {
        margin-top: 15px;
    }
    .firstSection h1 {
        font-size: 23px;
    }
    .firstSection h2 {
        font-size: 21px;
        margin-bottom: 48%;
    }
}
.firstSection img {
    max-width: 100%;
    min-width: 100%;
}
.secondSection {
    margin-top: 70px;
    background-color: rgb(0, 0, 0);
}
.secondSection h1,.secondSection h2 {
    color: white;
    text-align: center;
}
.secondSection p {
    text-align: center;
    color: white;
}
.secondSection h1 {
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 0px;
}
.secondSection h2 {
    font-size: 40px;
}
@media(max-width: 500px) {
    .secondSection {
        margin-top: 42%;
    }
    .secondSection h1,h2 {
        margin-top: 15px;
    }
    .secondSection h1 {
        font-size: 23px;
    }
    .secondSection h2 {
        font-size: 21px;
        margin-bottom: 48%;
    }
}
.secondSection img {
    max-width: 100%;
    min-width: 100%;
}

.thirdSection {
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}
.thirdSection h1,.thirdSection h2 {
    color: rgb(0, 0, 0);
    text-align: center;
}
.thirdSection h1 {
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 0px;
}
.thirdSection p {
    text-align: center;
    color: rgb(0, 0, 0);
}
.thirdSection h2 {
    font-size: 40px;
}
@media(max-width: 500px) {
    .thirdSection {
        /* margin-top: 5%; */
    }
    .thirdSection h1,h2 {
        /* margin-top: 15px; */
    }
    .thirdSection h1 {
        font-size: 23px;
    }
    .thirdSection h2 {
        font-size: 21px;
        margin-bottom: 48%;
    }
}
.thirdSection img {
    max-width: 100%;
    min-width: 100%;
} 
.fourthSection {
    /* margin-top: 20px; */
    background-color: rgb(0, 0, 0);
}
.fourthSection h1,.fourthSection h2,.fourthSection h3 {
    color: rgb(255, 255, 255);
    text-align: center;
}
#red {
    color: rgb(218, 67, 67);
}
.fourthSection h1 {
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 0px;
}
.fourthSection p {
    text-align: center;
    color: white;
}
.fourthSection h2 {
    font-size: 40px;
}
@media(max-width: 500px) {
    .fourthSection {
        
    }
    .fourthSection h1,h2 {
        /* margin-top: 15px; */
    }
    .fourthSection h1 {
        font-size: 23px;
    }
    .fourthSection h2 {
        font-size: 21px;
        margin-bottom: 48%;
    }
}
.fourthSection img {
    max-width: 100%;
    min-width: 100%;
} 

.fifthSection {
    min-width: 100%;
    max-width: 100%;
}
.fifthSection h2 {
    text-align: center;
    font-size: 2rem;
}
.fifthSection p {
    font-size: 1.15rem;
}
.aboutus {
    background-color: white;
    margin: 8% 18%;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}
.about {
    padding: 5%;
}
.about img {
    max-width: 100%;
    min-width: 100%;
}

@media(max-width:500px) {
    .aboutus {
        margin: 5% 5%;
    }
}
















footer{
    height: 40%;
    background-color: white;
    box-shadow: 3px 0px 20px rgba(0,0,0,0.2);
}
.mainfooter {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mainfooter div {
    width: 300px;
    margin: 20px;
}
.firstfooter ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}
.firstfooter ul li{
    margin-right: 20px;
}
.secondfooter ul {
    list-style: none;
}
.secondfooter a {
    color: black;
    text-decoration: none;
}
.thirdfooter ul {
    list-style: none;
}
#copyright {
    font-size: 12px;
    text-align: center;
}
